<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/Original logo.png">
    <title>Our Services</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <div class="menu-icon">☰</div>
             <h1 class="logo"><a href="/">Kharis pro-tech</a></h1>
            <nav>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/features">Services</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Head -->
    <section class="features-head bg-primary py-3">
        <div class="container grid">
            <div>
                <h1 class="xl">Software Product</h1>
                <p class="lead">
                    Welcome to Kharis pro-tech, where innovation meets excellence in software development solutions. 
                    We are a leading provider of cutting-edge software services, specializing in creating bespoke applications 
                    tailored to your unique business needs.
                </p>
            </div>
            <img src="images/pngegg.png" alt="">
        </div>
    </section>

    <!-- Sub head -->
    <section class="features-sub-head bg-light py-3">
        <div class="container grid">
            <div>
                <!--<h1 class="md">The Blesson pro-tech Platform</h1>-->
                <p>
                    With a team of highly skilled and experienced software developers, we take pride in delivering top-quality solutions 
                    that drive growth, enhance productivity, and amplify your competitive edge. Our agile development approach ensures rapid 
                    delivery without compromising on quality or functionality.</p><br>

                    <p>At Kharis pro-tech, we believe in collaborative partnerships. We work closely with our clients, understanding their vision, 
                    and translating it into robust, scalable, and user-friendly software solutions. Whether you require web applications, mobile apps, 
                    enterprise software, or custom integrations, we have the expertise to bring your ideas to life.</p><br>

                    <h1>Software Development</h1>

                    <p>Our experienced software developers possess the technical prowess and creativity to transform your ideas into functional, 
                        scalable, and efficient software solutions. Whether it's web applications, desktop software, or custom solutions, our developers are ready to tackle any coding challenge. </p>
                    
                        <ul>
                    <li><strong> Product Design:</strong> The key to successful product design lies in its ability to blend aesthetics, functionality, and user experience seamlessly. Our product designers understand this delicate balance and will work closely with you to craft visually appealing, user-friendly products that resonate with your target audience.</li>

                    <li><strong>Mobile & Web Application:</strong> In the age of smartphones and interconnectedness, mobile and web applications are essential tools for modern businesses. Our skilled developers specialize in creating responsive, high-performance applications that cater to your specific requirements and audience.</li>

                    <li><strong> Graphic Design:</strong>A captivating visual identity can significantly impact your brand's recognition and reputation. Our graphic designers are adept at creating stunning logos, marketing materials, and visuals that not only reflect your brand's personality but also leave a lasting impression on your audience.</li>

                    <li><strong> Cyber Security Consultant:</strong>Protecting your digital assets from potential threats is paramount. Our cyber security consultants are experts in identifying vulnerabilities and implementing robust security measures to safeguard your sensitive data and infrastructure from malicious actors.</li>

                    <li><strong> Penetration Testing:</strong>As an added layer of security, our penetration testers simulate real-world attacks to evaluate your system's resilience. By uncovering potential weaknesses, you can proactively strengthen your defenses and fortify your digital presence against potential breaches.</li>

                    <li><strong> Project Management:</strong>A well-organized project management approach is crucial for successful execution. Our project managers possess the leadership and communication skills needed to oversee your projects from start to finish, ensuring timely delivery and adherence to your specifications.</li>

                    <p>Whether you are a startup, an established business, or an individual looking to bring your digital vision to life, our freelancers are equipped to tackle diverse projects with professionalism, creativity, and technical expertise. Join our platform today and harness the talents of our freelancers to achieve outstanding results for your ventures.</p>

                    <h1>Why Choose Kharis pro-tech:</h1>

                    <li><strong>Comprehensive Services:</strong> We offer end-to-end software development services, from initial concept and design to development, testing, deployment, 
                        and ongoing support.</li>

                    <li><strong>Cutting-Edge Technologies:</strong> Our team stays up to date with the latest advancements in software development, leveraging the most suitable 
                        technologies to create powerful solutions.</li>

                    <li><strong>Quality Assurance:</strong> Our rigorous testing and quality assurance processes ensure that your software functions flawlessly, providing a seamless user experience.</li>
                    </ul>
                       <p>Partner with Kharis pro-tech to unlock the true potential of your business through bespoke software solutions. Contact us today to discuss your project or
                         visit our website to learn more about our services and success stories. Let's embark on a transformative journey together. </p>   
                        
            </div>
            <img src="images/pngegg(2).png" alt="">
        </div>
    </section>

    

    <!-- Footer -->
    <footer class="footer bg-dark py-5">
        <div class="container grid grid-3">
            <div>
                <h1>Kharis pro-tech
                </h1>
                <p>Copyright &copy; 2023</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/features">Services</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contacts</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="https://www.facebook.com/johnblesson.rowe"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.facebook.com/johnblesson.rowe"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/iamjohnblessonrowe"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/BlessonRowe"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>
    </footer>
    <!-- Brevo Conversations {literal} -->
<script>
    (function(d, w, c) {
        w.BrevoConversationsID = '64c7b962c7ba28200378b008';
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        var s = d.createElement('script');
        s.async = true;
        s.src = 'https://conversations-widget.brevo.com/brevo-conversations.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'BrevoConversations');
</script>
<!-- /Brevo Conversations {/literal} -->
<script>
    // JavaScript to toggle the "active" class on click
    document.querySelector('.menu-icon').addEventListener('click', function() {
      document.querySelector('.navbar').classList.toggle('active');
    });
  </script>
</body>
</html>