<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/Original logo.png">
    <title>Kharis pro-tech</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <div class="menu-icon">☰</div>
             <h1 class="logo"><a href="/">Kharis pro-tech</a></h1>
            <nav>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/features">Services</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Head -->
    <section class="features-head bg-primary py-3">
        <div class="container grid">
            <div>
                <h1 class="xl">Software Product</h1>
                <p class="lead">
                    Welcome to Kharis pro-tech, where innovation meets excellence in software development solutions. 
                    We are a leading provider of cutting-edge software services, specializing in creating bespoke applications 
                    tailored to your unique business needs.
                </p>
            </div>
            <img src="images/pngegg.png" alt="">
        </div>
    </section>

    <!-- Sub head -->
    <section class="features-sub-head bg-light py-3">
        <div class="container grid">
            <div>
                <!--<h1 class="md">The Blesson pro-tech Platform</h1>-->
                <p>
                    With a team of highly skilled and experienced software developers, we take pride in delivering top-quality solutions 
                    that drive growth, enhance productivity, and amplify your competitive edge. Our agile development approach ensures rapid 
                    delivery without compromising on quality or functionality.</p><br>

                    <p>At Kharis pro-tech, we believe in collaborative partnerships. We work closely with our clients, understanding their vision, 
                    and translating it into robust, scalable, and user-friendly software solutions. Whether you require web applications, mobile apps, 
                    enterprise software, or custom integrations, we have the expertise to bring your ideas to life.</p><br>

                    <h1>Key Differentiators:</h1>
                        <ul>
                    <li><strong> Team:</strong> Our seasoned developers possess a deep understanding of industry trends and technologies, ensuring best-in-class solutions 
                        for your business.</li>

                    <li><strong>Tailored Solutions:</strong> We pride ourselves on crafting custom software that perfectly aligns with your specific requirements, delivering a 
                        truly personalized experience.</li>

                    <li><strong> Delivery:</strong> We adhere to strict timelines and project management practices, ensuring prompt delivery of your software solution without 
                        compromisin>g quality.</li>

                    <h1>Why Choose Kharis pro-tech:</h1>

                    <li><strong>Comprehensive Services:</strong> We offer end-to-end software development services, from initial concept and design to development, testing, deployment, 
                        and ongoing support.</li>

                    <li><strong>Cutting-Edge Technologies:</strong> Our team stays up to date with the latest advancements in software development, leveraging the most suitable 
                        technologies to create powerful solutions.</li>

                    <li><strong>Quality Assurance:</strong> Our rigorous testing and quality assurance processes ensure that your software functions flawlessly, providing a seamless user experience.</li>
                    </ul>
                       <p>Partner with Kharis pro-tech to unlock the true potential of your business through bespoke software solutions. Contact us today to discuss your project or
                         visit our website to learn more about our services and success stories. Let's embark on a transformative journey together. </p>   
                        
            </div>
            <img src="images/pngegg(2).png" alt="">
        </div>
    </section>

    <!-- Sub head -->
    <section class="features-sub-head bg-light py-3">
        <div class="container grid">
            <div>
                <h1 class="md">Software Product and Project Management</h1>
                <p>Welcome to Kharis pro-tech, where projects thrive and products excel. We are a trusted provider of comprehensive software
                     project and product management solutions, empowering businesses to efficiently plan, execute, and deliver successful software ventures.
                    With our team of experienced project managers and product specialists, we bring order to complexity and guide you through the entire 
                    software development lifecycle. From initial ideation and requirements gathering to project execution, testing, and launch, 
                    we ensure seamless coordination and effective collaboration to drive your projects to success.</p><br>

                     <h1>Key Differentiators:</h1>
                     <ul>
                     <li>Expert Project Management: Our seasoned project managers employ proven methodologies and best practices to deliver projects on time, 
                     within budget, and with exceptional quality. We have a track record of successfully managing diverse projects of varying scales and complexities.</li>
                     
                     <li>Product Strategy and Roadmapping: We help you define a clear product vision and develop a strategic roadmap to ensure your software aligns 
                     with your business goals. Our product specialists guide you through the entire product lifecycle, from concept to market launch and beyond.</li>
                     
                     <li>Agile Methodologies: We embrace agile principles and methodologies, enabling adaptive and iterative project management that fosters 
                     collaboration, flexibility, and continuous improvement. Our approach ensures responsiveness to changing requirements and delivers value at every stage.</li><br>

                     <h1> Choose Kharis pro-tech:</h1>
                    
                    <li><strong>Holistic Approach:</strong> We provide end-to-end project and product management solutions, covering all aspects from inception to delivery. Our comprehensive services streamline 
                        your software development process and maximize your return on investment.</li>

                    <li><strong>Proven Expertise:</strong> Our team comprises professionals with extensive industry knowledge and a deep understanding of software development and product management. 
                        We leverage our expertise to guide your projects and products towards success.</li>

                    <li><strong>Collaborative Partnerships:</strong> We believe in building strong partnerships with our clients, working closely with you as an extension of your team. We value open
                         communication, transparency, and a collaborative approach to achieve shared objectives.</li>

                    <p>Empower your software projects and products with our expertise in project management and product strategy. Contact Kharis pro-tech today to discuss your needs 
                        and discover how we can help you achieve your software development goals. Visit our website for more information and testimonials from our satisfied clients. 
                        Let's embark on a journey of success together.</p> 
                    </ul>
            </div>
            <img src="images/pngegg(2).png" alt="">
        </div>
    </section>

    

    <!-- Footer -->
    <footer class="footer bg-dark py-5">
        <div class="container grid grid-3">
            <div>
                <h1>Kharis pro-tech
                </h1>
                <p>Copyright &copy; 2023</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="features">Services</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contacts</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="https://www.facebook.com/johnblesson.rowe"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.facebook.com/johnblesson.rowe"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/iamjohnblessonrowe"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/BlessonRowe"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>
    </footer>
    <!-- Brevo Conversations {literal} -->
<script>
    (function(d, w, c) {
        w.BrevoConversationsID = '64c7b962c7ba28200378b008';
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        var s = d.createElement('script');
        s.async = true;
        s.src = 'https://conversations-widget.brevo.com/brevo-conversations.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'BrevoConversations');
</script>
<!-- /Brevo Conversations {/literal} -->
<script>
    // JavaScript to toggle the "active" class on click
    document.querySelector('.menu-icon').addEventListener('click', function() {
      document.querySelector('.navbar').classList.toggle('active');
    });
  </script>
</body>
</html>